$default_bg: linear-gradient(#2B302A, #262421);
$puzzled_bg: #262421;
$spoiler_bg: linear-gradient( #24242E, #262421);

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 1000;
  .content {
    width: 419px;
    height: 503px;
    background: $default_bg;
    background-color: #3A3A3A;
    border-radius: 8px; 
    border: 1px solid #3A3A3A;
    .modal-body {
      height: 100%;
    }
  }
}

#modal.puzzled {
  .content {
    background: $puzzled_bg;
  }
}

#modal.spoiler {
  .content {
    background: $spoiler_bg;
  }
}

#modal.solution {
  z-index: 999;
  .content {
    background: #262522;
  }
}