.chessboard-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  @include max-width(md) {
    justify-content: space-around;
  }
  .game-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    h3 {
      color: #fff;
      font-size: 32px;
      position: relative;
      text-align: center;
      margin: 0;
      @include max-width(md) {
        font-size: 26px;
      }
      &::after {
        position: absolute;
        content: "GOBBLE CHESS";
        bottom: -3px;
        left: 3px;
        color: black;
        -webkit-text-stroke: 0.5px white;
        z-index: -1;
        text-align: center;
        width: 100%;
      }
    }
    h4 {
      color: #daa585;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
      margin: 0;
      @include max-width(md) {
        font-size: 16px;
      }
    }
  }
  .chessboard-wrapper {
    width: 60%;
    height: 90%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #3c3c3c;
    @include max-width(md) {
      width: 90%;
      
    }
  }
  .actions-wrapper {
    display: flex;
    gap: 20px;
  }
}

#play-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2%;
  .stats-mobile {
    display: none;
    @include max-width(md) {
      display: flex;
    }
  }
  .user-info-wrapper {
    width: 50%;
    max-width: 380px;
    background: #2f2b29;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 2%;
    gap: 30px;
    @include max-width(md) {
      display: none;
    }
    .user-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      .avatar {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffe5b8;
        border-radius: 5px;
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  .moves-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .moves-wrapper-mobile {
    display: none;
    gap: 4px;
    width: 80%;
    @include max-width(md) {
      display: flex;
      justify-content: center;
    }

    svg {
      width: 23px;
      height: auto;
    }
  }
  .stats-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
