@import "./sidebar.scss";
@import "./sidebar-button.scss";

.layout {
  display: flex;
  width: 100%;
  height: 100%;

  .sidebar-wrapper {
    width: 15%;
    height: 100vh;
    border-right: 1px solid #3a3a3a;
    position: sticky;
    left: 0;
    top: 0;
    @include max-width(md) {
        display: none;
    }
  }
  .children {
    width: 100%;
    height: 100%;
  }
}
